/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/*HEADER / NAVBAR */

header {
  background-color: #111;
}

.logo {
  height: 45px;
}

.navbar-nav .nav-link {
  color: #f2f2f2;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #d4a657;
}

.btn-login,
.btn-singup {
  background-color: #d4a657;
  color: #111;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}

.btn-login:hover,
.btn-singup:hover {
  background-color: #b48946;
  color: #fff;
}

/* BANNER */

.banner {
  max-height: 700px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
}

/* TITULOS */

h1,
h2 {
  color: #111;
  text-align: center;
  margin: 40px 0 20px;
  font-weight: bold;
}

h3 {
  color: #d4a657;
  margin-top: 10px;
  font-size: 18px;
}

/* PRODUCTOS */


.productos {
  background-color: #222;
  padding: 40px 0;
}

.producto img {
  width: 300px;
  border-radius: 10px;
  border: 2px solid #d4a657;
  margin: 0 auto;
  display: block;
}

/* NOSOTROS */

.nosotros {
  margin: 50px 0;
}

.img-nosotros {
  border-radius: 10px;
  border: 2px solid #d4a657;
}

.text-nosotros p {
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 15px;
}

/* CONTACTO */

.text-contacto {
  text-align: center;
}

.form-control {
  border-radius: 6px;
}

/* FOOTER */

footer {
  background-color: #111;
}

.redes-logo {
  width: 30px;
  margin: 0 10px;
}

.text-footer {
  color: #d4a657;
  font-size: 14px;
  margin-top: 10px;
}

/* AJUSTES GENERALES */

img {
  max-width: 100%;
  height: auto;
}


